html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to bottom, #0f172a 0%, #1e293b 100%);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
