.env
.env.production
.env.local
.ec2-deploy.conf

# Logs
logs
*.log

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.ipynb
.venv/*
scrapers/__pycache__/*
backend/__pycache__/*
*.db
.cursorrules

/ref

# Terraform
infrastructure/.terraform/
infrastructure/.terraform.lock.hcl
infrastructure/*.tfvars
infrastructure/*.tfstate
infrastructure/*.tfstate.backup
infrastructure/.terraform.tfstate.lock.info